<div class="mt-0">
    <div class="container jumbotron">
        <a class="btn btn-info" routerLink="product">NdourCodeur</a>
        <button class="btn btn-outline-info ml-3" (click)="onProduct()">Products</button>
        <button class="btn btn-outline-info ml-3" (click)="onContact()">Contact Me</button>
        <button class="btn btn-outline-info ml-3" (click)="onAbout()">About Me</button>
        <!-- Left Side -->
        <button style="float: right;" class="btn btn-info" (click)="onLogin()">Log In</button>
    </div>
    <!--  -->

    <div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>